*.so

# VisualSoar tmp files
*.*~

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
# *.war
# *.ear
# *.zip
# *.tar.gz
# *.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/aula1/nbproject/private/
/aula1/build/
# /aula1/dist/

/aula6/DemoJSOAR/nbproject/private/
/aula6/DemoJSOAR/build/
# /aula6/dist/
/aula13/DemoLIDA/build/
/aula13/DemoLIDA/dist/
